.po-loading-rotate {
	background: conic-gradient(
		transparent 212deg,
		#ec6d25 273deg,
		#3f54c0 336deg
	);
	animation: loading_rotate 3s infinite;
}

@keyframes loading_rotate {
	to {
		transform: rotate(360deg);
	}
}

/* loading dots and logo */
.loading-dots div:nth-child(1) {
	animation: loading-dots1 0.6s infinite;
}
.loading-dots div:nth-child(2) {
	animation: loading-dots2 0.6s infinite;
}
.loading-dots div:nth-child(3) {
	animation: loading-dots2 0.6s infinite;
}
.loading-dots div:nth-child(4) {
	animation: loading-dots3 0.6s infinite;
}
@keyframes loading-dots1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes loading-dots3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes loading-dots2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(9px, 0);
	}
}

.animated-logo path:nth-child(1),
.animated-logo path:nth-child(2),
.animated-logo path:nth-child(3),
.animated-logo path:nth-child(4) {
	stroke-dasharray: 59;
	stroke-dashoffset: 59;
	animation: line_anim 2.5s ease forwards infinite;
}
.animated-logo path:nth-child(5) {
	stroke-dasharray: 135;
	stroke-dashoffset: 135;
	animation: line_anim 2.5s ease forwards infinite;
}
.animated-logo path:nth-child(6),
.animated-logo path:nth-child(8) {
	stroke-dasharray: 22;
	stroke-dashoffset: 22;
	animation: line_anim 2.5s ease forwards infinite;
}
.animated-logo path:nth-child(7) {
	stroke-dasharray: 137;
	stroke-dashoffset: 137;
	animation: line_anim 2.5s ease forwards infinite;
}
.animated-logo path:nth-child(9),
.animated-logo path:nth-child(10) {
	stroke-dasharray: 219;
	stroke-dashoffset: 219;
	animation: line_anim 2.5s ease forwards infinite;
}

@keyframes line_anim {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes loadingPlaceholderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

.loading-placeholder {
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: loadingPlaceholderShimmer;
	animation-timing-function: linear;
	background: #eef2f8;
	background: linear-gradient(to right, #eef2f8 8%, #dae3ed 18%, #eef2f8 33%);
	background-size: 800px 104px;
	position: relative;
}
